/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.nav {
    margin-top: 20px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
    text-align: justify;
    font-size: x-small;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 900px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.homepage-image-box {
    margin-top: 15px;
    color: #000000;
}

.homepage-image-box:hover {
    text-decoration: none;
}

.homepage-image-box:hover h4 {
    text-decoration: underline;
}

.homepage-image-box .hover-block {
    position: relative;
}

.homepage-image-box .hover-block .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    background: -webkit-radial-gradient(transparent 30px, rgba(255, 255, 255, 0.4) 100px);
    opacity: 0;
}

.homepage-image-box:hover .overlay {
    opacity: 1;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Multiple select directive fixes */

.margin-bottom {
  margin-bottom: 10px;
}

.no-padding-right {
  padding-right: 0px;
}

.no-padding-left {
  padding-left: 0px;
}

/* UI-Bootstrap Modal backdrop fix (until compatible with bootstrap 3.3.2) */
.modal-backdrop {
  bottom: 0;
  position: fixed;
}

/* ng-click cursor pointer */
[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer;
}

.temp-badge-block-height {
  height: 60px;
}

/* Give all child span elements of jqcloud a pointer cursor */
.jqcloud > span {
  cursor: pointer;
}

/* Customize login and register containers */
@media (min-width: 768px) {
  .login-container {
    max-width: 350px;
    margin-bottom: 20px;
  }
  .register-container {
    max-width: 600px;
    margin-bottom: 20px;
  }
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.login-separator {
  position: relative;
  display: block;
  margin: 0 0 20px 0;
  text-align: center;
  color: #666;
}

.login-separator:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 43%;
  border-bottom: 1px solid #cccccc;
}

.login-separator:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 43%;
  border-bottom: 1px solid #cccccc;
}

.tab-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Group user grid display */
.group-user-grid-pic {
  float: left;
  max-width: 50px;
}
.group-teacher-name {
    line-height: 50px;
}
.group-profile-link {
    color: #000000;
}
.group-profile-link:hover {
  text-decoration: underline;
}

/* User profile update log profile picture */

.activity-feed-avatar-left,
.activity-feed-avatar-right {
  max-width: 50px;
}

.activity-feed-avatar-left {
  margin-right: 5px;
  float:left !important;
}

.activity-feed-avatar-right {
  margin-left: 5px;
  float:right !important;
}

.activity-feed-row {
  padding: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.activity-feed-row:hover {
  background-color: #f5f5f5;
}

/* Activity cover image */
#activity-background-image{
    background-repeat: no-repeat;
    position: absolute;
    height: 400px;
    opacity: 0.6;
    border-radius: 4px;
    width: 870px;
    z-index: -1;
    background-size: cover;
    left: 0;
    right: 0;
}

/* Activities - parent cover image */
#activities-background-image{
    background-repeat: no-repeat;
    position: absolute;
    height: 145px;
    opacity: 0.6;
    border-radius: 4px;
    width: 870px;
    z-index: -1;
    background-size: cover;
    left: 0;
    right: 0;

}

@media screen and (max-width:991px){
    #activities-background-image{
        width: 100%;
    }

    #activity-background-image{
        width: 100%;
    }
}

.nav-tabs.activities > li > a:hover {
     border-color: #fff;
}

.nav-tabs.activities{
    border-bottom: none;
}

.nav-tabs.activities > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 1px solid #fff;
}

.page-header.activities{
    margin-bottom: -15px;
}

/* User profile cover image */
#user-passport-cover{
    background-size: cover;
    position: absolute;
    height: 300px;
    opacity: 0.6;
    border-radius: 4px;
}

@media screen and (max-width:767px){
    #user-passport-cover{
        width: 100%;
    }
    #user-passport-details{
        margin-top: 55px;
    }

    .user-passport-gravatar{
        margin-top: 25px;
    }
}

.btn-group.profile_background .btn{
    outline: none;
}

.container.user-passport{
    padding: 15px;
    margin-bottom: 15px;
}

.badge-learner {
    background-color: #00bbd5;
    font-size: 16px;
}

.badge-teacher {
    background-color: #f59b45;
}

.backpack-list-image {
    max-width: 20px;
    max-height: 20px;
}

/* Fix label wrapping and spacing when repeating labels with ngRepeat */
.label-spaced {
  margin-right:5px;
  display:inline-block;
}

.inq-label {
    font-size: 16px;
}

.multi-line-text {
  white-space: pre-line;
}

#logo {
    max-height: 75px;
}

.dl-horizontal dt {
    white-space: normal;
}

dl.dl-horizontal {
    background: #fff;
    padding: 10px;
}

.phaseLevelRadio:before {
    content: "";
    display: block;
    position: relative;
    top: 3px;
    left: 3px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #91ff98;
}

.mr10 {margin-right: 10px;}

.pl10 {padding-left: 10px;}

.mt10 {margin-top: 10px;}
.mt20 {margin-top: 20px;}

.mb5 {margin-bottom: 5px;}

.pb20 {padding-bottom: 20px;}

/* Overwrite jQCloud styles */
div.jqcloud {
    font-size: 14px;
}

div.jqcloud span.w7 { color: #f04a58 ; }
div.jqcloud span.w6 { color: #f068af  ; }
div.jqcloud span.w5 { color: #dd98f0  ; }
div.jqcloud span.w4 { color: #bfabf0  ; }
div.jqcloud span.w3 { color: #aab5f0  ; }
div.jqcloud span.w2 { color: #99ccee  ; }
div.jqcloud span.w1 { color: #a0ddff  ; }