<div class="page-header center">
  <h1>{{ ::$root.langStrings.forms.addGroup.title }}</h1>
  <small>{{ ::$root.langStrings.forms.addGroup.subtitle }}</small>
</div>

<div class="alert alert-success" role="alert" collapse="postingState != 1"> {{ ::$root.langStrings.forms.addGroup.successAlert }} </div>

<div class="alert alert-danger" role="alert" collapse="postingState != 2"> {{ ::$root.langStrings.forms.addGroup.errorAlert }}</div>


<form class="form-horizontal" novalidate>
  <form-input-text id="group_name" label="{{ ::$root.langStrings.forms.addGroup.name }}" model="groupForm.name" req="true"></form-input-text>

  <form-textarea id="group_description" label="{{ ::$root.langStrings.forms.addGroup.description }}" rows="5" model="groupForm.description" req="true" placeholder="{{ ::$root.langStrings.forms.addGroup.descriptionPlaceholder }}"></form-textarea>

  <form-select-multiple label="{{ ::$root.langStrings.forms.inqAct.labels.domains }}" options="$root.langStrings.inqAct.domains" model="groupForm.domains" req="true"></form-select-multiple>

  <form-input-text id="group_topics" label="{{ ::$root.langStrings.forms.inqAct.labels.topic }}" model="groupForm.topics" placeholder="{{ ::$root.langStrings.forms.addGroup.topicHelp }}"></form-input-text>

  <div class="form-group">
    <label class="col-sm-4 control-label">{{ ::$root.langStrings.forms.addGroup.inqActs }}</label>
    <div class="col-sm-8">
      <ui-select multiple ng-model="groupForm.inq_activities" theme="bootstrap">
        <ui-select-match placeholder="{{ ::$root.langStrings.forms.addGroup.inqActsPlaceholder }}">{{$item.post_title}}</ui-select-match>
        <ui-select-choices repeat="activity.id as activity in searchedActivities | filter: {post_title: $select.search} | notInArray: groupForm.inq_activities: 'id'" refresh="loadActivities($select.search)" refresh-delay="0">
          <div ng-bind-html="activity.post_title | highlight: $select.search"></div>
          <small>
              {{ ::$root.langStrings.forms.addGroup.level }}: <span ng-bind-html="'' + formOptions.levels[activity.proficiency_level]"></span>
          </small>
        </ui-select-choices>
      </ui-select>
      <small class="help-block">{{ ::$root.langStrings.forms.addGroup.inqActsHelp }}</small>
    </div>
  </div>

  <div class="row">
    <h3 class="col-sm-4 control-label">{{ ::$root.langStrings.forms.addGroup.learners }}</h3>
  </div>
  <hr/>

  <div class="form-group">
    <label class="col-sm-4 control-label">{{ ::$root.langStrings.forms.addGroup.learners }}</label>
    <div class="col-sm-8">
      <ui-select multiple ng-model="groupForm.learners" theme="bootstrap">
        <ui-select-match placeholder="{{ ::$root.langStrings.forms.addGroup.learnersPlaceholder }}">{{$item.full_name}} &lt;{{$item.user_email}}&gt;</ui-select-match>
        <ui-select-choices repeat="learner.id as learner in searchedLearners | orFilter: {full_name: $select.search, user_email: $select.search} | notInArray: groupForm.learners: 'id'" refresh="loadLearners($select.search)" refresh-delay="0">
          <div ng-bind-html="learner.full_name | highlight: $select.search"></div>
          <small>
              {{ ::$root.langStrings.forms.addGroup.email }}: <span ng-bind-html="'' + learner.user_email | highlight: $select.search"></span>
          </small>
        </ui-select-choices>
      </ui-select>
      <small class="help-block">{{ ::$root.langStrings.forms.addGroup.learnersHelp }}</small>
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-4"></div>
    <div class="col-sm-8">
      <input class="btn btn-success" type="button" ng-click="addGroup(newGroup)" ng-disabled="updating" value="{{ ::$root.langStrings.forms.addGroup.submitButton }}" />
    </div>
  </div>

</form>

<div class="well" ng-if="$root.developerView">
  <p>GroupData model <strong>LiveView</strong> (for debugging only):</p>
  <pre>{{ groupForm | json}}</pre>
</div>
