<div class="page-header center">
  <h1>Create New Group</h1>
  <small>You are able to change entered information later</small>
</div>

<div class="alert alert-success" role="alert" collapse="postingState != 1"> Group created! </div>

<div class="alert alert-danger" role="alert" collapse="postingState != 2"> Error! Are you logged out from WP-Admin?</div>


<form class="form-horizontal" novalidate>
  <form-input-text id="group_name" label="Name" model="groupForm.name" req="true" placeholder="Group name"></form-input-text>

  <form-textarea id="group_description" label="Description" rows="5" model="groupForm.description" req="true" placeholder="A short description about this group"></form-textarea>

  <form-select-multiple label="Domains" options="formOptions.domains" model="groupForm.domains" req="true"></form-select-multiple>

  <form-input-text id="group_topics" label="Topics" model="groupForm.topics" placeholder="Comma separated"></form-input-text>

  <div class="form-group">
    <label class="col-sm-4 control-label">Inquiry Activities</label>
    <div class="col-sm-8">
      <ui-select multiple ng-model="groupForm.inq_activities" theme="bootstrap">
        <ui-select-match placeholder="Add activity...">{{$item.post_title}}</ui-select-match>
        <ui-select-choices repeat="activity.id as activity in searchedActivities | filter: {post_title: $select.search} | notInArray: groupForm.inq_activities: 'id'" refresh="loadActivities($select.search)" refresh-delay="0">
          <div ng-bind-html="activity.post_title | highlight: $select.search"></div>
          <small>
            Level: <span ng-bind-html="'' + formOptions.levels[activity.proficiency_level]"></span>
          </small>
        </ui-select-choices>
      </ui-select>
      <small class="help-block">Type above to search Activities</small>
    </div>
  </div>

  <div class="row">
    <h3 class="col-sm-4 control-label">Learners</h3>
  </div>
  <hr/>

  <div class="form-group">
    <label class="col-sm-4 control-label">Learners</label>
    <div class="col-sm-8">
      <ui-select multiple ng-model="groupForm.learners" theme="bootstrap">
        <ui-select-match placeholder="Add learner...">{{$item.full_name}} &lt;{{$item.user_email}}&gt;</ui-select-match>
        <ui-select-choices repeat="learner.id as learner in searchedLearners | orFilter: {full_name: $select.search, user_email: $select.search} | notInArray: groupForm.learners: 'id'" refresh="loadLearners($select.search)" refresh-delay="0">
          <div ng-bind-html="learner.full_name | highlight: $select.search"></div>
          <small>
            Email: <span ng-bind-html="'' + learner.user_email | highlight: $select.search"></span>
          </small>
        </ui-select-choices>
      </ui-select>
      <small class="help-block">Type above to search learners by Name or Email</small>
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-4"></div>
    <div class="col-sm-8">
      <input class="btn btn-success" type="button" ng-click="addGroup(newGroup)" ng-disabled="updating" value="Create Group" />
    </div>
  </div>

</form>

<div class="well" ng-if="$root.developerView">
  <p>GroupData model <strong>LiveView</strong> (for debugging only):</p>
  <pre>{{ groupForm | json}}</pre>
</div>
