<div class="page-header center">
    <h1>{{ $root.langStrings.group.listPage.title }}</h1>
</div>
<div role="tabpanel">
    <ul class="nav nav-tabs">
        <li role="presentation" ui-sref-active="active">
            <a ui-sref=".list" aria-controls="list">{{ $root.langStrings.group.listPage.listTab }}</a>
        </li>
        <li role="presentation" ui-sref-active="active" ng-if="$root.currentUserData.userRole == 'teacher'">
            <a ui-sref=".new" aria-controls="new">{{ $root.langStrings.group.listPage.addGroupTab }}</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a ui-sref=".hallOfFame" aria-controls="halloffame">{{ $root.langStrings.group.listPage.hallOfFameTab }}</a>
        </li>
    </ul>
</div>
<div ui-view=""></div>