<div class="form-inline text-right mt20">
    <div class="form-group">
        <label for="filterInput">{{ $root.langStrings.group.listPage.filter }}</label>
        <input type="text" class="form-control" id="filterInput" placeholder="{{ $root.langStrings.group.filterPlaceholder }}" ng-model="groupFilterText">
    </div>
</div>
<br/>

<div class="list-group">
  <a class="list-group-item" ng-repeat="group in groupList | orderBy:'id':true | filter:groupFilterText" ng-click="showGroupPage(group)">
    <h4 class="list-group-item-heading">{{ group.name }}</h4>
    <p class="list-group-item-text">{{ $root.langStrings.group.listPage.teacher }}: {{ group.author.display_name }}</p>
  </a>
</div>
