<div role="tabpanel">
    <ul class="nav nav-tabs">
        <li role="presentation" ui-sref-active="active">
            <a ui-sref=".view" aria-controls="info">Group info</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a ui-sref=".edit" aria-controls="settings">Settings</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a ui-sref=".act" aria-controls="activities">Recommended activities</a>
        </li>
    </ul>
    <div ui-view=""></div>
</div>