<div class="page-header center">
  <h1>Groups</h1>
  <small>Click on Group to see details</small>
</div>

<div class="form-inline text-right">
    <div class="form-group">
        <label for="filterInput">Filter by group or teacher name</label>
        <input type="text" class="form-control" id="filterInput" placeholder="Teacher or group name" ng-model="groupFilterText">
    </div>
</div>
<br/>

<div class="list-group">
  <a class="list-group-item" ng-repeat="group in groupList | orderBy:'id':true | filter:groupFilterText" ng-click="showGroupPage(group)">
    <h4 class="list-group-item-heading">{{ group.name }}</h4>
    <p class="list-group-item-text">Teacher: {{ group.author.display_name }}</p>
  </a>
</div>
