<br/>
<h2>{{ ::$root.langStrings.group.listPage.hallOfFameTab }} <span class="glyphicon glyphicon-question-sign pull-right lead" ng-click="toggleHelp()" tooltip="{{ helpCollapsed ? $root.langStrings.general.showHelp : $root.langStrings.general.hideHelp }}"></span></h2>
<div collapse="helpCollapsed">
    <p class="multi-line-text" ng-bind-html="::$root.langStrings.group.hallOfFamePage.introText"></p>
    <div class="login-separator lead">
        <span class="glyphicon glyphicon-menu-up" ng-click="toggleHelp()"></span>
    </div>
</div>
<p>{{ ::$root.langStrings.group.hallOfFamePage.subHeading }}</p>

<h3>{{ ::$root.langStrings.group.hallOfFamePage.goldTitle }}</h3>
<p>{{ ::$root.langStrings.group.hallOfFamePage.goldText }}</p>
<div class="group-user-grid-pic" ng-repeat="learner in hallOfFame.medals_gold">
    <a ui-sref="user.details({id: learner.id})">
        <img ng-src='{{ gravatarUrl(learner) }}' alt="User profile picture" class="img-responsive img-circle group-profile-link" tooltip="{{ ::learner.name }}">
    </a>
</div>
<p ng-if="hallOfFame.medals_gold.length == 0" class="label label-info">{{ ::$root.langStrings.group.hallOfFamePage.noMedalistsText }}</p>
<div class="clearfix"></div>

<h3>{{ ::$root.langStrings.group.hallOfFamePage.silverTitle }}</h3>
<p>{{ ::$root.langStrings.group.hallOfFamePage.silverText }}</p>
<div class="group-user-grid-pic" ng-repeat="learner in hallOfFame.medals_silver">
    <a ui-sref="user.details({id: learner.id})">
        <img ng-src='{{ gravatarUrl(learner) }}' alt="User profile picture" class="img-responsive img-circle group-profile-link" tooltip="{{ ::learner.name }}">
    </a>
</div>
<p ng-if="hallOfFame.medals_silver.length == 0" class="label label-info">{{ ::$root.langStrings.group.hallOfFamePage.noMedalistsText }}</p>
<div class="clearfix"></div>

<h3>{{ ::$root.langStrings.group.hallOfFamePage.bronzeTitle }}</h3>
<p>{{ ::$root.langStrings.group.hallOfFamePage.bronzeText }}</p>
<div class="group-user-grid-pic" ng-repeat="learner in hallOfFame.medals_bronze">
    <a ui-sref="user.details({id: learner.id})">
        <img ng-src='{{ gravatarUrl(learner) }}' alt="User profile picture" class="img-responsive img-circle group-profile-link" tooltip="{{ ::learner.name }}">
    </a>
</div>
<p ng-if="hallOfFame.medals_bronze.length == 0" class="label label-info">{{ ::$root.langStrings.group.hallOfFamePage.noMedalistsText }}</p>
<div class="clearfix"></div>

<h3>{{ ::$root.langStrings.group.hallOfFamePage.diplomasTitle }}</h3>
<p>{{ ::$root.langStrings.group.hallOfFamePage.diplomasText }}</p>
<div class="group-user-grid-pic" ng-repeat="learner in hallOfFame.diplomas">
    <a ui-sref="user.details({id: learner.id})">
        <img ng-src='{{ gravatarUrl(learner) }}' alt="User profile picture" class="img-responsive img-circle group-profile-link" tooltip="{{ ::learner.name }}">
    </a>
</div>
<p ng-if="hallOfFame.diplomas.length == 0" class="label label-info">{{ ::$root.langStrings.group.hallOfFamePage.noMedalistsText }}</p>
<div class="clearfix"></div>

<h3>{{ ::$root.langStrings.group.hallOfFamePage.starsTitle }}</h3>
<p>{{ ::$root.langStrings.group.hallOfFamePage.starsText }}</p>
<div class="group-user-grid-pic" ng-repeat="learner in hallOfFame.stars">
    <a ui-sref="user.details({id: learner.id})">
        <img ng-src='{{ gravatarUrl(learner) }}' alt="User profile picture" class="img-responsive img-circle group-profile-link" tooltip="{{ ::learner.name }}">
    </a>
</div>
<p ng-if="hallOfFame.stars.length == 0" class="label label-info">{{ ::$root.langStrings.group.hallOfFamePage.noMedalistsText }}</p>
<div class="clearfix"></div>
