.DS_Store
node_modules
test/tmp
.tmp
app/api
!app/api/wp-content/plugins
app/.htaccess
.idea

.idea/workspace.xml

*.DS_Store

dist/

npm-debug.log

composer.phar
composer.lock
vendor/

app/bower_components