<div class="login-container center-block">
  <div class="page-header center">
    <h1>{{ ::$root.langStrings.user.login.title }}</h1>
  </div>

  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login_fb()"><i class="fa fa-facebook fa-lg"></i> {{ ::$root.langStrings.user.login.fb }}</button>
  <button class="btn btn-lg btn-danger btn-block" type="submit" ng-click="login_google()"><i class="fa fa-google fa-lg"></i> {{ ::$root.langStrings.user.login.google }}</button>
  <br/>

  <p class="login-separator"> {{ ::$root.langStrings.user.login.or }} </p>

  <div class="alert alert-danger" role="alert" collapse="!errors"> {{ ::$root.langStrings.user.login.alertError }} <br/></div>

  <form class="form-signin">
    <label for="username" class="sr-only">{{ ::$root.langStrings.user.login.email }}</label>
    <input type="email" id="username" class="form-control input-lg" placeholder="{{ ::$root.langStrings.user.login.email }}" ng-model="loginData.username" required autofocus>

    <label for="password" class="sr-only">{{ ::$root.langStrings.user.login.password }}</label>
    <input type="password" id="password" class="form-control input-lg" placeholder="{{ ::$root.langStrings.user.login.password }}" ng-model="loginData.password" required>

    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember" ng-model="loginData.remember"> {{ ::$root.langStrings.user.login.remember }}
      </label>
    </div>

    <button class="btn btn-lg btn-success btn-block" type="submit" ng-click="login()" ng-disabled="updating">{{ ::$root.langStrings.user.login.loginButton }}</button>

  </form>

  <hr/>

  <p class="text-center">{{ ::$root.langStrings.user.login.noAccount }} <a ui-sref="user.register">{{ ::$root.langStrings.user.login.register }}</a></p>
  <p class="text-center"><a ng-href="/api/wp-login.php?action=lostpassword">{{ ::$root.langStrings.user.login.forgotPassword }}</a></p>

  <div class="well" ng-if="$root.developerView">
    {{ $root.currentUserData | json}}
  </div>
</div>
