<div class="modal-header">
    <h3 class="modal-title">{{ ::$root.langStrings.inqAct.modals.editEvidence.title }}</h3>
</div>
<div class="modal-body">
    <form name="form" novalidate>
        <div class="form-group">
            <label for="evidenceLink">{{ ::$root.langStrings.inqAct.modals.submitEvidence.link }}</label>
            <br/>
            <input ng-show="editingEvidence" type="url" class="form-control" id="evidenceLink" name="evidenceLink" placeholder="{{ ::$root.langStrings.inqAct.modals.submitEvidence.linkPlaceholder }}" ng-model="evidence.evidence_link" required>
            <a ng-show="!editingEvidence" ng-href="{{ ::evidence.evidence_link }}" target="_blank">{{ ::evidence.evidence_link }}</a>
        </div>
        <div class="form-group">
            <label for="evidenceText">{{ ::$root.langStrings.inqAct.modals.submitEvidence.info }}</label>
            <textarea ng-show="editingEvidence" class="form-control" rows="5" id="evidenceText" name="evidenceText" placeholder="{{ ::$root.langStrings.inqAct.modals.submitEvidence.infoPlaceholder }}" ng-model="evidence.evidence_text" required></textarea>
            <p ng-show="!editingEvidence" class="multi-line-text">{{ ::evidence.evidence_text }}</p>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="editingEvidence = true" ng-hide="editingEvidence">{{ ::$root.langStrings.inqAct.modals.submitEvidence.editButton }}</button>
    <button class="btn btn-success" ng-click="update()" ng-disabled="form.evidenceLink.$invalid && form.evidenceText.$invalid || updating" ng-show="editingEvidence"></button>
    <button class="btn btn-primary" ng-click="cancel()">{{ ::$root.langStrings.inqAct.modals.editEvidence.closeButton }}</button>
</div>
