<div class="modal-header">
    <h3 class="modal-title">View / Edit evidence</h3>
</div>
<div class="modal-body">
    <form name="form" novalidate>
        <div class="form-group">
            <label for="evidenceLink">Web Link</label>
            <br/>
            <input ng-show="editingEvidence" type="url" class="form-control" id="evidenceLink" name="evidenceLink" placeholder="Web link" ng-model="evidence.evidence_link" required>
            <a ng-show="!editingEvidence" ng-href="{{ evidence.evidence_link }}" target="_blank">{{ evidence.evidence_link }}</a>
        </div>
        <div class="form-group">
            <label for="evidenceText">Comments or other info</label>
            <textarea ng-show="editingEvidence" class="form-control" rows="5" id="evidenceText" name="evidenceText" placeholder="Text content" ng-model="evidence.evidence_text" required></textarea>
            <p ng-show="!editingEvidence" class="multi-line-text">{{ evidence.evidence_text }}</p>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="editingEvidence = true" ng-hide="editingEvidence">Edit evidence</button>
    <button class="btn btn-success" ng-click="update()" ng-disabled="form.evidenceLink.$invalid && form.evidenceText.$invalid || updating" ng-show="editingEvidence">Submit</button>
    <button class="btn btn-primary" ng-click="cancel()">Close</button>
</div>
