<div class="modal-header">
    <h3 class="modal-title">{{ ::$root.langStrings.inqAct.modals.viewPeerReview.title }}</h3>
</div>
<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>{{ ::$root.langStrings.inqAct.modals.submitPeerReview.activity }}</dt>
        <dd>{{ ::review.inq_activity[0].post_title }}</dd>
        <dt>{{ ::$root.langStrings.inqAct.modals.viewPeerReview.completedBy }}</dt>
        <dd>{{ ::review.learner.display_name }}</dd>
        <dt>{{ ::$root.langStrings.inqAct.modals.viewPeerReview.reviewedBy }}</dt>
        <dd>{{ ::review.peer.display_name }}</dd>
        <dt>{{ ::$root.langStrings.inqAct.modals.viewPeerReview.reviewDate }}</dt>
        <dd>{{ ::review.post_modified | date : 'dd.MM.yy HH:mm' }}</dd>
    </dl>

    <hr/>

    <h4>{{ ::$root.langStrings.inqAct.modals.submitPeerReview.rating }}</h4>
    <p>{{ ::review.rating }}</p>
    <h4>{{ ::$root.langStrings.inqAct.modals.submitPeerReview.review }}</h4>
    <p class="multi-line-text">{{ ::review.post_content }}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="accept()">{{ ::$root.langStrings.inqAct.modals.viewPeerReview.closeButton }}</button>
</div>