<div class="modal-header">
    <h3 class="modal-title">Submit a review</h3>
</div>
<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>Student name</dt>
        <dd>{{ log.learner.display_name }}</dd>
        <dt>Activity</dt>
        <dd>{{ log.inq_activity[0].post_title }}</dd>
        <div ng-if="evidence[0].evidence_link">
            <dt>Evidence link</dt>
            <dd><a href="{{ evidence[0].evidence_link }}" target="_blank">{{ evidence[0].evidence_link }}</a></dd>
        </div>
        <div ng-if="evidence[0].evidence_text">
            <dt>Evidence info</dt>
            <dd>{{ evidence[0].evidence_text }}</dd>
        </div>
    </dl>
    <h4>Peer reviews</h4>
    <div class="list-group" ng-if="peerReviews[0]">
        <a href="" class="list-group-item" ng-repeat="review in peerReviews" ng-click="showPeerReviewModal(review)">{{ review.peer.display_name }}</a>
    </div>
    <p ng-if="!peerReviews[0]">There are no peer reviews for this evidence</p>

    <hr/>

    <form name="form" novalidate>
        <div class="form-group">
            <label for="rating">Overall Rating</label>
            <div id="rating">
                <label class="radio-inline">
                    <input type="radio" name="rating" ng-value="1" ng-model="review.rating" required> 1
                </label>
                <label class="radio-inline">
                    <input type="radio" name="rating" ng-value="2" ng-model="review.rating" required> 2
                </label>
                <label class="radio-inline">
                    <input type="radio" name="rating" ng-value="3" ng-model="review.rating" required> 3
                </label>
            </div>
        </div>
        <div class="form-group">
            <label>Proficiency levels for inquiry phases in the activity <span ng-show="req">*</span></label>
            <p class="help-block">Only shows phases that are present in the acitivity. Green color indicates the phase's proficiency level in the activity.</p>
            <table class="table">
                <tr>
                    <th>Phase</th>
                    <th>Level A (basic)</th>
                    <th>Level B (advanced)</th>
                    <th>Level C (expert)</th>
                </tr>
                <tr ng-repeat="(key, value) in inqPhases">
                    <td>{{ $root.langStrings.inqAct.coveredPhases[key] }}</td>
                    <td><input type="radio" name="phaseLevel{{ key }}" ng-model="reviewPhases[key]" value="1" ng-class="{'phaseLevelRadio': value == 1}" /></td>
                    <td><input type="radio" name="phaseLevel{{ key }}" ng-model="reviewPhases[key]" value="2"  ng-class="{'phaseLevelRadio': value == 2}"/></td>
                    <td><input type="radio" name="phaseLevel{{ key }}" ng-model="reviewPhases[key]" value="3" ng-class="{'phaseLevelRadio': value == 3}" /></td>
                </tr>
            </table>
        </div>
        <div class="form-group">
            <label for="reviewText">Review</label>
            <textarea class="form-control" rows="10" id="reviewText" name="reviewText" ng-model="review.post_content" required></textarea>
        </div>
        <div class="form-group">
            <label for="perfEval">Arenguvestlus</label>
            <div id="perfEval">
                <label class="radio-inline">
                    <input type="radio" name="perfEval" ng-value="0" ng-model="review.perfEval" required> No
                </label>
                <label class="radio-inline">
                    <input type="radio" name="perfEval" ng-value="1" ng-model="review.perf_eval" required> Yes
                </label>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="accept()" ng-disabled="form.rating.$invalid || form.reviewText.$invalid || form.perfEval.$invalid || updating">Submit review</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
