<div class="modal-header">
    <h3 class="modal-title">{{ ::$root.langStrings.inqAct.modals.submitTeacherReview.title }}</h3>
</div>
<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>{{ ::$root.langStrings.inqAct.modals.submitTeacherReview.learnerName }}</dt>
        <dd>{{ log.learner.display_name }}</dd>
        <dt>{{ ::$root.langStrings.inqAct.modals.submitPeerReview.activity }}</dt>
        <dd>{{ log.inq_activity[0].post_title }}</dd>
        <div ng-if="evidence[0].evidence_link">
            <dt>{{ ::$root.langStrings.inqAct.modals.submitPeerReview.evidenceLink }}</dt>
            <dd><a href="{{ evidence[0].evidence_link }}" target="_blank">{{ evidence[0].evidence_link }}</a></dd>
        </div>
        <div ng-if="evidence[0].evidence_text">
            <dt>{{ ::$root.langStrings.inqAct.modals.submitPeerReview.evidenceInfo }}</dt>
            <dd>{{ evidence[0].evidence_text }}</dd>
        </div>
    </dl>
    <h4>{{ ::$root.langStrings.inqAct.modals.submitTeacherReview.peerReviews }}</h4>
    <div class="list-group" ng-if="peerReviews[0]">
        <a href="" class="list-group-item" ng-repeat="review in peerReviews" ng-click="showPeerReviewModal(review)">{{ review.peer.display_name }}</a>
    </div>
    <p ng-if="!peerReviews[0]">{{ ::$root.langStrings.inqAct.modals.submitTeacherReview.noReviews }}</p>

    <hr/>

    <form name="form" novalidate>
        <div class="form-group">
            <label for="rating">{{ ::$root.langStrings.inqAct.modals.submitTeacherReview.overallRating }}</label>
            <div id="rating">
                <label class="radio-inline">
                    <input type="radio" name="rating" ng-value="1" ng-model="review.rating" required> 1
                </label>
                <label class="radio-inline">
                    <input type="radio" name="rating" ng-value="2" ng-model="review.rating" required> 2
                </label>
                <label class="radio-inline">
                    <input type="radio" name="rating" ng-value="3" ng-model="review.rating" required> 3
                </label>
            </div>
        </div>
        <div class="form-group">
            <label>{{ ::$root.langStrings.inqAct.modals.submitTeacherReview.phaseRatings }} <span ng-show="req">*</span></label>
            <p class="help-block">{{ ::$root.langStrings.inqAct.modals.submitTeacherReview.phaseRatingsHelp }}</p>
            <table class="table">
                <tr>
                    <th>{{ ::$root.langStrings.forms.inqAct.labels.phase }}</th>
                    <th>{{ ::$root.langStrings.forms.inqAct.labels.phases.novice }}</th>
                    <th>{{ ::$root.langStrings.forms.inqAct.labels.phases.basic }}</th>
                    <th>{{ ::$root.langStrings.forms.inqAct.labels.phases.advanced }}</th>
                </tr>
                <tr ng-repeat="(key, value) in inqPhases">
                    <td>{{ $root.langStrings.inqAct.coveredPhases[key] }}</td>
                    <td><input type="radio" name="phaseLevel{{ key }}" ng-model="reviewPhases[key]" value="1" ng-class="{'phaseLevelRadio': value == 1}" /></td>
                    <td><input type="radio" name="phaseLevel{{ key }}" ng-model="reviewPhases[key]" value="2"  ng-class="{'phaseLevelRadio': value == 2}"/></td>
                    <td><input type="radio" name="phaseLevel{{ key }}" ng-model="reviewPhases[key]" value="3" ng-class="{'phaseLevelRadio': value == 3}" /></td>
                </tr>
            </table>
        </div>
        <div class="form-group">
            <label for="reviewText">{{ ::$root.langStrings.inqAct.modals.submitPeerReview.review }}</label>
            <textarea class="form-control" rows="10" id="reviewText" name="reviewText" ng-model="review.post_content" required></textarea>
        </div>
        <div class="form-group">
            <label for="perfEval">{{ ::$root.langStrings.inqAct.modals.submitTeacherReview.perfEval }}</label>
            <div id="perfEval">
                <label class="radio-inline">
                    <input type="radio" name="perfEval" ng-value="0" ng-model="review.perfEval" required> {{ ::$root.langStrings.inqAct.booleanValues[0] }}
                </label>
                <label class="radio-inline">
                    <input type="radio" name="perfEval" ng-value="1" ng-model="review.perf_eval" required> {{ ::$root.langStrings.inqAct.booleanValues[1] }}
                </label>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="accept()" ng-disabled="form.rating.$invalid || form.reviewText.$invalid || form.perfEval.$invalid || updating">{{ ::$root.langStrings.inqAct.modals.submitTeacherReview.submitButton }}</button>
    <button class="btn btn-warning" ng-click="cancel()">{{ ::$root.langStrings.inqAct.modals.submitEvidence.cancelButton }}</button>
</div>
