<div class="row">
    <div class="col-sm-4">
        <img ng-src='{{ gravatarUrl(user) }}' alt="User profile picture" class="img-responsive img-circle center-block">
        <h3 class="text-center">{{ user.full_name }}</h3>
            <h3 class="text-center"><span class="label" ng-class="{ 'label-primary': user.roles[0] == 'learner', 'label-danger': user.roles[0] == 'teacher' }">{{ $root.langStrings.user.roles[user.roles[0]] }}</span></h3>
        <hr/>
        <h4>Badges</h4>
        <div class="group-user-grid-pic" ng-repeat="badge in user.badges">
            <img ng-src='{{ badge.image.guid }}' alt="Badge - {{ badge.description }}" class="img-responsive" tooltip="{{ badge.post_title }} - {{ badge.description }}">
        </div>
    </div>
    <div class="col-sm-8">
        <h4>User info</h4>
        <dl class="dl-horizontal">
            <dt>Date of Birth</dt>
            <dd>{{ user.date_of_birth | date : 'dd.MM.yyyy' }}</dd>
            <dt>Email</dt>
            <dd>{{ user.user_email }}</dd>
            <dt>Preferred Language</dt>
            <dd>{{ $root.langStrings.inqAct.languages[user.preferred_language] }}</dd>
                <dt>Country of Residence</dt>
                <dd>{{ $root.langStrings.user.countries[user.country_of_residence] }}</dd>
            <dt>City of Residence</dt>
            <dd>{{ user.city_of_residence }}</dd>
        </dl>

        <hr/>

        <tabset>
            <tab heading="User feed">
                <h4>Latest updates</h4>
                <div class="activity-feed-row" ng-repeat="log in inqLog | orderBy:'created':true track by log.id">
                    <!-- User own actions -->
                    <div ng-if="_.contains(['4','5','8'], log.status)">
                        <img ng-src='{{ user.gravatarUrl }}' alt="User profile picture" class="img-responsive img-circle activity-feed-avatar-left">
                <span class="lead">{{ $root.langStrings.inqLog.passportStatus[log.status] }}
                    <small class="text-muted">
                        <small>{{ log.inq_activity[0].post_title }}</small> <!-- double small -->
                    </small>
                </span>
                        <footer class="text-muted">- {{ log.created | date : 'dd.MM.yy HH:mm'}}</footer>
                    </div>

                    <!-- Teacher actions for learner -->
                    <div ng-if="_.contains(['1','3','7'], log.status)" class="text-right">
                        <img ng-src='{{ gravatarUrl(log.teacher) }}' alt="User profile picture" class="img-responsive img-circle activity-feed-avatar-right">
                        <span class="lead">{{ log.teacher.display_name }} {{ $root.langStrings.inqLog.passportStatus[log.status] }} <small class="text-muted"><small>{{ log.inq_activity[0].post_title }}</small></small></span>
                        <footer class="text-muted">- {{ log.created | date : 'dd.MM.yy HH:mm'}}</footer>
                    </div>

                    <!-- Peer actions for learner -->
                    <div ng-if="log.status == 6" class="text-right">
                        <img ng-src='{{ gravatarUrl(log.peer) }}' alt="User profile picture" class="img-responsive img-circle activity-feed-avatar-right">
                        <span class="lead">{{ log.peer.display_name }} {{ $root.langStrings.inqLog.passportStatus[log.status] }} <small class="text-muted"><small>{{ log.inq_activity[0].post_title }}</small></small></span>
                        <footer class="text-muted">- {{ log.created | date : 'dd.MM.yy HH:mm'}}</footer>
                    </div>

                    <!-- Clear the float after every row -->
                    <div class="clearfix"></div>

                </div>
            </tab>
            <tab heading="Activities">
                <tabset>
                    <tab heading="Started">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="act in startedActivities">
                                <a href="" ng-click="showInqActivityDetailPage(act.inq_activity[0])">{{ act.inq_activity[0].post_title }}</a>
                            </li>
                        </ul>
                    </tab>
                    <tab heading="Completed">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="act in completedActivities">
                                <a href="" ng-click="showInqActivityDetailPage(act.inq_activity[0])">{{ act.inq_activity[0].post_title }}</a>
                            </li>
                        </ul>
                    </tab>
                    <tab heading="Recommended">
                        User does not have any recommended activities (to be implemented)
                    </tab>
                </tabset>
            </tab>
            <tab heading="Groups">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="(key, value) in user.groups">
                        <a href="" ng-click="showGroupPage(key)">{{ value.name }}</a>
                    </li>
                </ul>
            </tab>
            <tab heading="Comments" ng-controller="UserCommentsCtrl">
                <div>
                    <div id="successAlert" class="alert alert-success" role="alert" collapse="!success">Comment posted!</div>

                    <div id="errorAlert" class="alert alert-danger" role="alert" collapse="!error"> Error! If you see this, please send the following to the developers: <pre>{{ errorReason | json }}</pre></div>

                    <div class="form-group">
                        <label for="commentText">Post comment</label>
                        <textarea class="form-control" name="commentText" id="commentText" rows="3" ng-model="newComment.text" maxlength="500"></textarea>
                    </div>
                    <button class="btn btn-primary btn-xs" type="button" ng-click="postComment()" ng-disabled="updating || !newComment.text">Post comment</button>

                    <spinner class="mt20" collapse="!loadingComments"></spinner>

                    <div class="mt20">
                        <div class="activity-feed-row" ng-repeat="comment in comments | orderBy:'created':true">
                            <img ng-src='{{ gravatarUrl(comment.author) }}' alt="User profile picture" class="img-responsive img-circle activity-feed-avatar-left">
                            <p><b>{{ comment.author.display_name }}</b> <small class="text-muted">- {{ comment.created | date : 'dd.MM.yyyy HH:mm'}}</small></p>
                            <p>{{ comment.text }}</p>
                        </div>
                    </div>

                    <div id="noCommentsAlert" class="alert alert-info" role="alert" collapse="comments.length > 0 || loadingComments">There are no comments yet</div>
                </div>
            </tab>
        </tabset>

    </div>
</div>

<pre ng-if="$root.developerView">
    {{ user | json }}
</pre>

