<div class="row">
    <div class="container" id="user-passport-cover" ng-style="{'background-image':'url('+profile_background_url+')'}"></div>
    <div class="container user-passport">
        <div class="btn-group profile_background pull-right" role="group">
            <button type="button" class="btn btn-primary btn-xs" type="button" ng-click="changeCover()" ng-if="ownProfile">{{ ::$root.langStrings.user.passport.titleChangeCover }}</button>
            <button type="button" class="btn btn-primary btn-success btn-xs" type="button" ng-disabled="saveCoverButtonDisabled" ng-click="saveCover(user)" ng-if="ownProfile">{{ saveCoverButtonText }}</button>
        </div>
        <div class="col-sm-4">
            <img ng-src='{{ gravatarUrl(user) }}' alt="User profile picture" class="img-responsive img-circle center-block user-passport-gravatar">
            <h3 class="text-center">{{ ::user.display_name }}</h3>
                <h3 class="text-center"><span class="badge" ng-class="{ 'badge-learner': user.roles[0] == 'learner', 'badge-teacher': user.roles[0] == 'teacher' }">{{ ::$root.langStrings.user.roles[user.roles[0]] }}</span></h3>
        </div>
        <div class="col-sm-8" id="user-passport-details">
            <dl class="dl-horizontal">
                <dt>{{ ::$root.langStrings.forms.userRegister.labels.birthDate }}</dt>
                <dd>{{ ::user.date_of_birth | date : 'dd.MM.yyyy' }}</dd>
                <dt>{{ ::$root.langStrings.forms.userRegister.labels.email }}</dt>
                <dd>{{ ::user.user_email }}</dd>
                <dt>{{ ::$root.langStrings.forms.userRegister.labels.preferredLanguage }}</dt>
                <dd>{{ ::$root.langStrings.inqAct.languages[user.preferred_language] }}</dd>
                <dt>{{ ::$root.langStrings.forms.userRegister.labels.country }}</dt>
                <dd>{{ ::$root.langStrings.user.countries[user.country_of_residence] }}</dd>
                <dt>{{ ::$root.langStrings.forms.userRegister.labels.city }}</dt>
                <dd>{{ ::user.city_of_residence }}</dd>
            </dl>

            <hr/>
            <h4>
                {{ ::$root.langStrings.user.passport.titleBadges }}
                <button ng-if="ownProfile && user.display_name" class="btn btn-primary btn-xs" type="button" ng-click="openBackpackModal()">{{ ::$root.langStrings.user.passport.sendToBackpack }}</button>
            </h4>
            <div class="alert alert-success" role="alert" collapse="!backpackSuccess">
                {{ ::$root.langStrings.user.passport.backpackModal.success }}{{ backpackSuccess }}
            </div>
            <div class="group-user-grid-pic" ng-repeat="badge in user.badges">
                <img ng-src='{{ ::badge.image.guid }}' alt="Badge - {{ ::badge.description }}" class="img-responsive" tooltip="{{ ::badge.post_title }} - {{ ::badge.description }}">
            </div>


        </div>
    </div>
    <div class="col-sm-12">
        <tabset>
            <tab heading="{{ ::$root.langStrings.user.passport.tabHeadings.userFeed }}">
                <h4>{{ ::$root.langStrings.user.passport.titleUpdates }}</h4>
                <div class="activity-feed-row" ng-repeat="log in inqLog | orderBy:'created':true track by log.id">
                    <!-- User own actions -->
                    <div ng-if="_.contains(['4','5','8'], log.status)">
                        <img ng-src='{{ user.gravatarUrl }}' alt="User profile picture" class="img-responsive img-circle activity-feed-avatar-left">
                <span class="lead">{{ ::$root.langStrings.inqLog.passportStatus[log.status] }}
                    <small class="text-muted">
                        <small>{{ log.inq_activity[0].post_title }}</small> <!-- double small -->
                    </small>
                </span>
                        <footer class="text-muted">- {{ log.created | date : 'dd.MM.yy HH:mm'}}</footer>
                    </div>

                    <!-- Teacher actions for learner -->
                    <div ng-if="_.contains(['1','3','7'], log.status)" class="text-right">
                        <img ng-src='{{ gravatarUrl(log.teacher) }}' alt="User profile picture" class="img-responsive img-circle activity-feed-avatar-right">
                        <span class="lead">{{ ::log.teacher.display_name }} {{ ::$root.langStrings.inqLog.passportStatus[log.status] }} <small class="text-muted"><small>{{ ::log.inq_activity[0].post_title }}</small></small></span>
                        <footer class="text-muted">- {{ log.created | date : 'dd.MM.yy HH:mm'}}</footer>
                    </div>

                    <!-- Peer actions for learner -->
                    <div ng-if="log.status == 6" class="text-right">
                        <img ng-src='{{ gravatarUrl(log.peer) }}' alt="User profile picture" class="img-responsive img-circle activity-feed-avatar-right">
                        <span class="lead">{{ ::log.peer.display_name }} {{ ::$root.langStrings.inqLog.passportStatus[log.status] }} <small class="text-muted"><small>{{ ::log.inq_activity[0].post_title }}</small></small></span>
                        <footer class="text-muted">- {{ log.created | date : 'dd.MM.yy HH:mm'}}</footer>
                    </div>

                    <!-- Clear the float after every row -->
                    <div class="clearfix"></div>

                </div>
            </tab>
            <tab heading="{{ ::$root.langStrings.user.passport.tabHeadings.activities }}" ng-if="$root.currentUserData.userRole == 'learner'">
                <tabset>
                    <tab heading="{{ ::$root.langStrings.user.passport.tabHeadings.subTabs.started }}">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="act in startedActivities">
                                <a href="" ng-click="showInqActivityDetailPage(act.inq_activity[0])">{{ act.inq_activity[0].post_title }}</a>
                            </li>
                        </ul>
                    </tab>
                    <tab heading="{{ ::$root.langStrings.user.passport.tabHeadings.subTabs.completed }}">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="act in completedActivities">
                                <a href="" ng-click="showInqActivityDetailPage(act.inq_activity[0])">{{ act.inq_activity[0].post_title }}</a>
                            </li>
                        </ul>
                    </tab>
                    <tab heading="{{ ::$root.langStrings.user.passport.tabHeadings.subTabs.recommended }}" ng-if="ownProfile">
                        <div class="list-group">
                            <a class="list-group-item" ng-repeat="act in recommendedActivities" ui-sref="inq_act.details({id: act.id})">
                                <h4 class="list-group-item-heading">{{ ::act.post_title }}</h4>
                                <p class="list-group-item-text" ng-bind-html="act.post_content | limitParagraph"></p>
                            </a>
                        </div>
                    </tab>
                </tabset>
            </tab>
            <tab heading="{{ ::$root.langStrings.user.passport.tabHeadings.groups }}">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="(key, value) in displayedGroups">
                        <a href="" ng-click="showGroupPage(key)">{{ value.name }}</a>
                    </li>
                </ul>
            </tab>
            <tab heading="{{ ::$root.langStrings.user.passport.tabHeadings.comments }}" ng-controller="UserCommentsCtrl">
                <div>
                    <div id="successAlert" class="alert alert-success" role="alert" collapse="!success">{{ ::$root.langStrings.user.passport.commentForm.alertSuccess }}</div>

                    <div id="errorAlert" class="alert alert-danger" role="alert" collapse="!error"> {{ ::$root.langStrings.user.passport.commentForm.alertError }}</div>

                    <div class="form-group">
                        <label for="commentText">{{ ::$root.langStrings.user.passport.commentForm.inputLabel }}</label>
                        <textarea class="form-control" name="commentText" id="commentText" rows="3" ng-model="newComment.text" maxlength="500"></textarea>
                    </div>
                    <button class="btn btn-primary btn-xs" type="button" ng-click="postComment()" ng-disabled="updating || !newComment.text">{{ ::$root.langStrings.user.passport.commentForm.buttonLabel }}</button>

                    <spinner class="mt20" collapse="!loadingComments"></spinner>

                    <div>
                        <div class="activity-feed-row" ng-repeat="comment in comments | orderBy:'created':true">
                            <img ng-src='{{ gravatarUrl(comment.author) }}' alt="User profile picture" class="img-responsive img-circle activity-feed-avatar-left">
                            <p><b>{{ comment.author.display_name }}</b> <small class="text-muted">- {{ comment.created | date : 'dd.MM.yyyy HH:mm'}}</small></p>
                            <p>{{ comment.text }}</p>
                        </div>
                    </div>

                    <div id="noCommentsAlert" class="alert alert-info" role="alert" collapse="comments.length > 0 || loadingComments">{{ ::$root.langStrings.user.passport.commentForm.noComments }}</div>
                </div>
            </tab>
        </tabset>
    </div>
</div>

