<div class="row">
  <div class="col-sm-4">
    <img ng-src='{{ gravatarUrl(user) }}' alt="User profile picture" class="img-responsive img-circle center-block">
    <h3 class="text-center">{{ user.full_name }}</h3>
    <hr/>
    <h4>Badges</h4>
    <div class="row center-block temp-badge-block-height" ng-repeat="r in badgeRows track by $index">
      <div class="col-xs-4 center-block" ng-repeat="c in badgeRows track by $index">
        <img src="images/yeoman.png" alt="Random badge" class="img-responsive img-rounded center-block">
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <h4>User info</h4>
    <dl class="dl-horizontal">
      <dt>Date of Birth</dt>
      <dd>{{ user.date_of_birth | date : 'dd.MM.yyyy' }}</dd>
      <dt>Email</dt>
      <dd>{{ user.user_email }}</dd>
      <dt>Preferred Language</dt>
      <dd>{{ user.preferred_language }}</dd>
      <dt>City of Residence</dt>
      <dd>{{ user.city_of_residence }}</dd>
    </dl>

    <hr/>

    <h4>Latest updates</h4>

    <div class="row" ng-repeat="log in inqLog | orderBy:'created':true track by log.id">
      <!-- User own actions -->
      <div ng-if="_.contains(['4','5','8'], log.status)">
        <div class="col-xs-2">
          <img ng-src='{{ user.gravatarUrl }}' alt="User profile picture" class="img-responsive img-circle user-profile-log-avatar">
        </div>
        <div class="col-xs-10">
          <span class="lead">{{ $root.langStrings.inqLog.passportStatus[log.status] }} <small class="text-muted"><small>{{ log.inq_activity[0].post_title }}</small></small></span>
          <footer class="text-muted">- {{ log.created | date : 'dd.MM.yy HH:mm'}}</footer>
        </div>
      </div>

      <!-- Teacher actions for learner -->
      <div ng-if="_.contains(['1','3','7'], log.status)">
        <div class="col-xs-10">
          <span class="lead">{{ log.teacher.display_name }} {{ $root.langStrings.inqLog.passportStatus[log.status] }} <small class="text-muted"><small>{{ log.inq_activity[0].post_title }}</small></small></span>
          <footer class="text-muted">- {{ log.created | date : 'dd.MM.yy HH:mm'}}</footer>
        </div>
        <div class="col-xs-2">
          <img ng-src='{{ gravatarUrl(log.teacher) }}' alt="User profile picture" class="img-responsive img-circle user-profile-log-avatar">
        </div>
      </div>

      <!-- Peer actions for learner -->
      <div ng-if="log.status == 6">
        <div class="col-xs-10">
          <span class="lead">{{ log.peer.display_name }} {{ $root.langStrings.inqLog.passportStatus[log.status] }} <small class="text-muted"><small>{{ log.inq_activity[0].post_title }}</small></small></span>
          <footer class="text-muted">- {{ log.created | date : 'dd.MM.yy HH:mm'}}</footer>
        </div>
        <div class="col-xs-2">
          <img ng-src='{{ gravatarUrl(log.teacher) }}' alt="User profile picture" class="img-responsive img-circle user-profile-log-avatar">
        </div>
      </div>
    </div>
    <!--
    <div class="row" ng-show="user.$resolved">
      <div class="col-xs-2">
        <img ng-src='{{ gravatarUrl(user) }}' alt="User profile picture" class="img-responsive img-circle user-profile-log-avatar">
      </div>
      <div class="col-xs-10">
        <span class="lead">Joined Ark of Inquiry</span>
        <footer class="text-muted">- {{ user.user_registered | date : 'medium'}}</footer>
      </div>
    </div> -->
  </div>
</div>
