<div class="page-header center">
  <h1>Add new inquiry activity</h1>
  <small>Fields marked with an asterisk (*) are mandatory</small>
</div>

<div class="alert alert-warning" role="alert">
  Attention! Since we are using Basic Authentication for development, be sure to be logged out of WP Admin when sending data from front-end!<hr/>
  Tähelepanu! Kuna arendustsüklis on hetkel kasutusel Basic Authentication, ei saa salvestada infot olles samal ajal sisse loginud WP Admin'i paneeli! Logi sealt kindlasti enne välja.

</div>

<form class="form-horizontal">
  <form-input-text id="title" label="Title" model="formData.title" req="true"></form-input-text>

  <form-textarea id="description" label="Activity Description" rows="10" model="formData.description" req="true"></form-textarea>

  <!--<form-input-checkbox name="location" label="Location" model="formData.extra.location" options="formOptions.location"></form-input-checkbox>

  <form-input-text id="location_web" label="Webpage" model="formData.extra.location_web" ng-show="_.contains(formData.extra.location, 0)"></form-input-text>

  <form-input-text id="location_city" label="City" model="formData.extra.location_city" ng-show="_.contains(formData.extra.location, 1)"></form-input-text>

  <form-input-text id="location_address" label="Address" model="formData.extra.location_address" ng-show="_.contains(formData.extra.location, 1)"></form-input-text>-->

  <form-select-multiple label="Domain" options="formOptions.domains" model="formData.extra.domains" req="true"></form-select-multiple>

  <form-input-text id="topic" label="Topic" model="formData.extra.topic"></form-input-text>

  <form-select-multiple label="Language" options="formOptions.languages" model="formData.extra.languages" req="true"></form-select-multiple>

  <form-select id="level" label="Proficiency level" options="formOptions.levels" model="formData.extra.proficiency_level" req="true"></form-select>

  <form-select-multiple label="Covered phases" options="formOptions.coveredPhases" model="formData.extra.covered_phases" req="true"></form-select-multiple>

  <form-select-multiple label="Phases Departing From the Proficiency Level" options="formOptions.departingPhases" model="formData.extra.departing_phases" req="true"></form-select-multiple>

  <form-range-slider label="Typical Age Range" id="range" model-from="formData.extra.age_range_from" model-to="formData.extra.age_range_to" min="7" max="18"></form-range-slider>

  <form-input-text id="learning_time" label="Typical Learning Time" model="formData.extra.learning_time"></form-input-text>

  <form-textarea id="materials_needed" label="Materials needed for the Activity" rows="5" model="formData.extra.materials_needed" req="true"></form-textarea>

  <form-select-multiple label="Evidence On the Success of the Activity" options="formOptions.successEvidence" model="formData.extra.success_evidence" req="true"></form-select-multiple>

  <form-textarea id="evidence_description" label="Evidence Description" rows="7" model="formData.extra.evidence_description" req="true"></form-textarea>

  <form-input-radio name="rights_restriction" label="Copyright or Other Restrictions" model="formData.extra.rights_restrictions" options="formOptions.rightsRestrictions"></form-input-radio>

  <form-textarea id="rights_description" label="Rights Description" rows="5" model="formData.extra.rights_description" ng-show="formData.extra.rights_restrictions == 1"></form-textarea>

  <div class="form-group">
    <div class="col-sm-4"></div>
    <div class="col-sm-8">
      <button class="btn btn-success" type="submit" ng-click="saveActivity(activity)" ng-disabled="updating">Add activity</button>
    </div>
  </div>

</form>

<div class="alert alert-success" role="alert" ng-show="postingState == 1"> Activity added!</div>

<div class="alert alert-danger" role="alert" ng-show="postingState == 2"> Error! Are you logged out from WP-Admin?</div>

<div class="well">
  <p>FormData model <strong>LiveView</strong> (for debugging only):</p>
  {{ formData }}
</div>

