<div class="page-header center">
    <h1>{{ ::$root.langStrings.inqAct.listPage.title }}</h1>
</div>
<div role="tabpanel">
    <ul class="nav nav-tabs">
        <li role="presentation" ui-sref-active="active">
            <a ui-sref=".list" aria-controls="list">{{ ::$root.langStrings.inqAct.listPage.listTab }} ({{ totals.totalActivities }})</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a ui-sref=".search.search" aria-controls="search">{{ ::$root.langStrings.inqAct.listPage.searchTab }}</a>
        </li>
        <li role="presentation" ui-sref-active="active">
            <a ui-sref=".search.tags" aria-controls="tags">{{ ::$root.langStrings.inqAct.listPage.tagTab }}</a>
        </li>
        <li role="presentation" ui-sref-active="active" ng-if="$root.currentUserData.userRole == 'teacher'">
            <a ui-sref=".new" aria-controls="new">{{ ::$root.langStrings.inqAct.listPage.addNewTab }}</a>
        </li>
    </ul>
    <div ui-view="" class="mt20"></div>
</div>