<div class="page-header center">
    <h1>Search Inquiry Activities</h1>
</div>

<form class="form-horizontal" novalidate>
    <form-input-text id="phrase" label="Search phrase" model="formData.phrase"></form-input-text>

    <form-tags-input label="Keywords" model="formData.keywords" display-property="name" placeholder="Add keywords" autocomplete-source="loadKeywords(q)" autocomplete-only="true"></form-tags-input>

    <form-input-checkbox name="location" label="Location" model="formData.location" options="$root.langStrings.inqAct.location"></form-input-checkbox>

    <form-select-multiple label="Domain" options="$root.langStrings.inqAct.domains" model="formData.domains"></form-select-multiple>

    <form-select-multiple label="Language" options="$root.langStrings.inqAct.languages" model="formData.languages"></form-select-multiple>

    <form-select id="level" label="Overall proficiency level" options="$root.langStrings.inqAct.levels" model="formData.proficiency_level"></form-select>

    <div class="form-group">
        <label class="col-sm-4 control-label">Proficiency level for inquiry phases <span ng-show="req">*</span></label>
        <div class="col-sm-8">
            <table class="table">
                <tr>
                    <th></th>
                    <th>Phase</th>
                    <th>Level A (basic)</th>
                    <th>Level B (advanced)</th>
                    <th>Level C (expert)</th>
                </tr>
                <tr ng-repeat="(key, value) in $root.langStrings.inqAct.coveredPhases">
                    <td><input type="checkbox" ng-model="phaseCheckboxes[key]"/></td>
                    <td ng-class="{'text-muted': !phaseCheckboxes[key]}">{{ value }}</td>
                    <td><input ng-model="formData.phaseLevels[key]" type="radio" value="1" ng-disabled="!phaseCheckboxes[key]" /></td>
                    <td><input ng-model="formData.phaseLevels[key]" type="radio" value="2" ng-disabled="!phaseCheckboxes[key]" /></td>
                    <td><input ng-model="formData.phaseLevels[key]" type="radio" value="3" ng-disabled="!phaseCheckboxes[key]" /></td>
                </tr>
            </table>

        </div>
    </div>

    <form-input-checkbox name="location" label="Other filters" model="formData.other" options="$root.langStrings.inqAct.search.otherFilters"></form-input-checkbox>

    <form-range-slider indent="true" label="Age Range" id="range" model-from="formData.age_range.from" model-to="formData.age_range.to" min="6" max="20" collapse="!_.contains(formData.other.age, 0)"></form-range-slider>

    <form-input-text indent="true" id="learning_time_from" label="Learning Time From" model="formData.learning_time.from" collapse="!_.contains(formData.other.time, 1)"></form-input-text>

    <form-input-text indent="true" id="learning_time_from" label="Learning Time To" model="formData.learning_time.to" collapse="!_.contains(formData.other.time, 1)"></form-input-text>

    <div class="form-group">
        <div class="col-sm-4"></div>
        <div class="col-sm-8">
            <button class="btn btn-success" type="submit" ng-click="searchActivities()" ng-disabled="updating">Search</button>
        </div>
    </div>

</form>

<div class="well" ng-if="$root.developerView">
    <pre>{{ formData | json }}</pre>
</div>