<form class="form-horizontal" novalidate collapse="searchFormHide">
    <form-input-text id="phrase" label="{{ ::$root.langStrings.forms.inqAct.searchLabels.searchPhrase }}" model="formData.phrase"></form-input-text>
<!--
    <form-tags-input label="Keywords" model="formData.keywords" display-property="name" placeholder="Add keywords" autocomplete-source="loadKeywords(q)" autocomplete-only="true"></form-tags-input>-->

    <form-input-checkbox name="location" label="{{ ::$root.langStrings.forms.inqAct.labels.location }}" model="formData.location" options="$root.langStrings.inqAct.location"></form-input-checkbox>

    <form-select-multiple label="{{ ::$root.langStrings.forms.inqAct.labels.domains }}" options="$root.langStrings.inqAct.domains" model="formData.domains"></form-select-multiple>

    <form-select label="{{ ::$root.langStrings.forms.inqAct.labels.language }}" options="formOptions.languages" model="formData.language"></form-select>

    <form-select id="level" label="{{ ::$root.langStrings.forms.inqAct.labels.level }}" options="formOptions.proficiencyLevels" model="formData.proficiency_level"></form-select>

    <div class="form-group">
        <label class="col-sm-4 control-label">{{ ::$root.langStrings.forms.inqAct.labels.levelPhases }} <span ng-show="req">*</span></label>
        <div class="col-sm-8">
            <table class="table">
                <tr>
                    <th></th>
                    <th>{{ ::$root.langStrings.forms.inqAct.labels.phase }}</th>
                    <th>{{ ::$root.langStrings.forms.inqAct.labels.phases.novice }}</th>
                    <th>{{ ::$root.langStrings.forms.inqAct.labels.phases.basic }}</th>
                    <th>{{ ::$root.langStrings.forms.inqAct.labels.phases.advanced }}</th>
                </tr>
                <tr ng-repeat="(key, value) in $root.langStrings.inqAct.coveredPhases">
                    <td><input type="checkbox" ng-model="phaseCheckboxes[key]"/></td>
                    <td ng-class="{'text-muted': !phaseCheckboxes[key]}">{{ value }}</td>
                    <td><input ng-model="formData.phaseLevels[key]" type="radio" value="1" ng-disabled="!phaseCheckboxes[key]" /></td>
                    <td><input ng-model="formData.phaseLevels[key]" type="radio" value="2" ng-disabled="!phaseCheckboxes[key]" /></td>
                    <td><input ng-model="formData.phaseLevels[key]" type="radio" value="3" ng-disabled="!phaseCheckboxes[key]" /></td>
                </tr>
            </table>

        </div>
    </div>

    <form-input-checkbox name="location" label="{{ ::$root.langStrings.forms.inqAct.searchLabels.otherFilters }}" model="formData.other" options="$root.langStrings.inqAct.search.otherFilters"></form-input-checkbox>

    <form-range-slider indent="true" label="{{ ::$root.langStrings.forms.inqAct.labels.age }}" id="range" model-from="formData.age_range.from" model-to="formData.age_range.to" min="6" max="20" collapse="!_.contains(formData.other, 0)"></form-range-slider>

    <form-input-text indent="true" id="learning_time_from" label="{{ ::$root.langStrings.forms.inqAct.searchLabels.learningTimeFrom }}" model="formData.learning_time.from" collapse="!_.contains(formData.other, 1)"></form-input-text>

    <form-input-text indent="true" id="learning_time_from" label="{{ ::$root.langStrings.forms.inqAct.searchLabels.learningTimeTo }}" model="formData.learning_time.to" collapse="!_.contains(formData.other, 1)"></form-input-text>

    <div class="form-group">
        <div class="col-sm-4"></div>
        <div class="col-sm-8">
            <button class="btn btn-success" type="submit" ng-click="searchActivities()" ng-disabled="updating">{{ ::$root.langStrings.forms.inqAct.searchLabels.searchButton }}</button>
        </div>
    </div>

</form>

<button class="btn btn-primary pull-right" ng-click="showSearchForm()" ng-if="searchFormHide">{{ ::$root.langStrings.forms.inqAct.searchLabels.showSearch }} <span class="glyphicon glyphicon-chevron-down"></span></button>
<br/>
<br/>

<div class="alert alert-warning" role="alert" collapse="searchResults.length > 0 || !searchResults">
    {{ ::$root.langStrings.forms.inqAct.searchLabels.noResults }}
</div>

<div class="list-group">
    <a class="list-group-item" ng-repeat="act in searchResults | orderBy:'id':true" ng-click="showDetailPage(act)">
        <h4 class="list-group-item-heading">{{ act.post_title }}{{ act.title }}
            <small class="glyphicon glyphicon-map-marker pull-right" ng-if="_.contains(act.location, '1')" aria-hidden="true" tooltip="Physical location"></small>
            <small class="glyphicon glyphicon-globe pull-right" ng-if="_.contains(act.location, '0')" aria-hidden="true" tooltip="Online activity"></small>
        </h4>
        <p class="list-group-item-text" ng-bind-html="act.post_content || act.content | limitParagraph"></p>
    </a>
</div>

<div class="well" ng-if="$root.developerView">
    <pre>{{ formData | json }}</pre>
</div>