<div class="list-group mt20">
    <div ng-if="keywordMode" class="well well-sm">
      {{ ::$root.langStrings.inqAct.listPage.filterByTag }}
      <span class="badge">{{keywordText}}</span>
    </div>
    <a class="list-group-item" ng-repeat="act in inqActList | orderBy:'post_date':true" ng-click="showDetailPage(act)">
        <h4 class="list-group-item-heading">{{ ::act.post_title }}{{ ::act.title }}
            <small class="glyphicon glyphicon-map-marker pull-right" ng-if="_.contains(act.location, '1')" aria-hidden="true" tooltip="{{ ::$root.langStrings.inqAct.general.tooltipPhysical }}"></small>
            <small class="glyphicon glyphicon-globe pull-right" ng-if="_.contains(act.location, '0')" aria-hidden="true" tooltip="{{ ::$root.langStrings.inqAct.general.tooltipOnline }}"></small>
        </h4>
        <p class="list-group-item-text" ng-bind-html="act.post_content || act.content | limitParagraph"></p>
    </a>
    <pagination ng-model="currentPage" ng-change="loadPage(currentPage)" total-items="totals.totalActivities" items-per-page="totals.activitiesPerPage" ng-if="!keywordMode" next-text="{{ $root.langStrings.general.nextItem }}" previous-text="{{ $root.langStrings.general.previousItem }}"></pagination>
</div>
