<div class="form-group">
    <label class="col-sm-4 control-label">{{ label }} <span ng-show="req">*</span></label>
    <div class="col-sm-8">
        <div class="row" ng-repeat="choice in model track by $index">
            <div class="col-xs-11 no-padding-right">
                <select class="form-control margin-bottom" ng-model="model[$index]" ng-required="req" >
                    <option ng-repeat="option in options">{{ ::option }}</option>
                </select>
            </div>
            <div class="col-xs-1 no-padding-left">
                <button class="btn btn-link" ng-hide="$first" ng-click="removeChoice($index)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            </div>
        </div>
        <button class="btn btn-link" ng-click="addChoice()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add more</button>
    </div>
</div>