<div class="form-group">
  <label class="col-sm-4 control-label">{{ label }} <span ng-show="req">*</span></label>
  <div class="col-sm-8">
    <div class="row" ng-class="{'appear-in' : loaded}" ng-repeat="choice in model track by $index">
      <div ng-if="$index == 0" class="col-sm-12">
        <select class="form-control margin-bottom" ng-model="model[$index]" ng-required="req" ng-disabled="disabled">
            <option ng-repeat="option in optionsArray | orderBy: 'value'" value="{{::option.key}}" ng-selected="option.key==choice">{{::option.value}}</option>
        </select>
      </div>
      <div ng-if="$index > 0">
        <div class="col-xs-11 no-padding-right">
          <select class="form-control margin-bottom" ng-model="model[$index]" ng-required="req" ng-disabled="disabled">
              <option ng-repeat="option in optionsArray | orderBy: 'value'" value="{{::option.key}}" ng-selected="option.key==choice">{{::option.value}}</option>
          </select>
        </div>
        <div class="col-xs-1 no-padding-left">
          <a class="btn btn-link" ng-hide="$first" ng-click="removeChoice($index)">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
    <a class="btn btn-link" ng-click="addChoice()" ng-disabled="disabled">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ ::$root.langStrings.forms.general.addMore }}
    </a>
  </div>
</div>
