<div class="page-header center">
    <h1>{{ $root.langStrings.group.editPage.title }}</h1>
</div>

<div class="alert alert-success" role="alert" collapse="postingState != 1"> {{ $root.langStrings.group.editPage.successAlert }} </div>

<div class="alert alert-danger" role="alert" collapse="postingState != 2"> {{ $root.langStrings.group.editPage.errorAlert }}</div>


<form class="form-horizontal" novalidate ng-disabled="updating">
    <form-input-text id="group_name" label="{{ $root.langStrings.forms.addGroup.name }}" model="groupForm.name" req="true" placeholder="Group name"></form-input-text>

    <form-textarea id="group_description" label="{{ $root.langStrings.forms.addGroup.description }}" rows="5" model="groupForm.description" req="true" placeholder="{{ $root.langStrings.forms.addGroup.descriptionPlaceholder }}"></form-textarea>

    <form-select-multiple label="{{ ::$root.langStrings.forms.inqAct.labels.domains }}" options="$root.langStrings.inqAct.domains" model="groupForm.domains" req="true"></form-select-multiple>

    <form-input-text id="group_topics" label="{{ ::$root.langStrings.forms.inqActs.labels.topic }}" model="groupForm.topics" placeholder="{{ ::$root.langStrings.forms.addGroup.topicHelp }}"></form-input-text>

    <div class="form-group">
        <label class="col-sm-4 control-label">{{ $root.langStrings.forms.addGroup.inqActs }}</label>
        <div class="col-sm-8">
            <ui-select multiple ng-model="groupForm.inq_activities" theme="bootstrap">
                <ui-select-match placeholder="{{ $root.langStrings.forms.addGroup.inqActsPlaceholder }}">{{$item.post_title}}</ui-select-match>
                <ui-select-choices repeat="activity in searchedActivities | filter: {post_title: $select.search} | objectNotInArray: groupForm.inq_activities" refresh="loadActivities($select.search)" refresh-delay="0">
                    <div ng-bind-html="activity.post_title | highlight: $select.search"></div>
                    <small>
                        {{ ::$root.langStrings.forms.addGroup.level }}: <span ng-bind-html="'' + formOptions.levels[activity.proficiency_level]"></span>
                    </small>
                </ui-select-choices>
            </ui-select>
            <small class="help-block">{{ ::$root.langStrings.forms.addGroup.inqActsHelp }}</small>
        </div>
    </div>

    <hr/>

    <div class="form-group">
        <label class="col-sm-4 control-label">{{ $root.langStrings.group.editPage.teachers }}</label>
        <div class="col-sm-8">
            <ui-select multiple ng-model="groupForm.teachers" theme="bootstrap">
                <ui-select-match placeholder="{{ $root.langStrings.group.editPage.teachersPlaceholder }}">{{$item.display_name}} &lt;{{$item.user_email}}&gt;</ui-select-match>
                <ui-select-choices repeat="teacher in searchedTeachers | orFilter: {full_name: $select.search, user_email: $select.search} | objectNotInArray: groupForm.teachers" refresh="loadTeachers($select.search)" refresh-delay="0">
                    <div ng-bind-html="teacher.full_name | highlight: $select.search"></div>
                    <small>
                        Email: <span ng-bind-html="'' + teacher.user_email | highlight: $select.search"></span>
                    </small>
                </ui-select-choices>
            </ui-select>
            <small class="help-block">{{ $root.langStrings.group.editPage.teachersHelp }}</small>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">{{ ::$root.langStrings.forms.addGroup.learners }}</label>
        <div class="col-sm-8">
            <ui-select multiple ng-model="groupForm.learners" theme="bootstrap">
                <ui-select-match placeholder="{{ ::$root.langStrings.forms.addGroup.learnersPlaceholder }}">{{$item.display_name}} &lt;{{$item.user_email}}&gt;</ui-select-match>
                <ui-select-choices repeat="learner in searchedLearners | orFilter: {full_name: $select.search, user_email: $select.search} | objectNotInArray: groupForm.learners" refresh="loadLearners($select.search)" refresh-delay="0">
                    <div ng-bind-html="learner.full_name | highlight: $select.search"></div>
                    <small>
                        {{ ::$root.langStrings.forms.addGroup.email }}: <span ng-bind-html="'' + learner.user_email | highlight: $select.search"></span>
                    </small>
                </ui-select-choices>
            </ui-select>
            <small class="help-block">{{ ::$root.langStrings.forms.addGroup.learnersHelp }}</small>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-4"></div>
        <div class="col-sm-8">
            <input class="btn btn-success" type="button" ng-click="updateGroup()" ng-disabled="updating" value="{{ $root.langStrings.group.editPage.updateButton }}" />
        </div>
    </div>

</form>