<div class="page-header center">
    <h1>Sign up for your account</h1>
    <small>You are able to change entered information later</small>
</div>

<form class="form-horizontal">
    <form-input-text id="full_name" label="Full Name" model="userData.extra.full_name" req="true"></form-input-text>

    <form-input-text id="email" label="Email" model="userData.email" req="true"></form-input-text>

    <form-date-picker id="birth_date" label="Date of Birth" model="userData.extra.date_of_birth" mode="datePickerMode" is-open="datePickerOpened" options="datePickerOptions" max-date="todayDate" open="openDatePicker(ev)" req="true"></form-date-picker>
    
    <form-input-text id="city" label="City of Residence" model="userData.extra.city_of_residence"></form-input-text>

    <form-select id="user_type" label="Type of User" options="formOptions.roles" model="userData.extra.user_type" ></form-select>

    <form-select id="preferred_language" label="Preferred Language" options="formOptions.languages" model="userData.extra.preferred_language" ></form-select>

    <form-select-multiple label="Additional Languages" options="formOptions.languages" model="userData.extra.additional_languages" ></form-select-multiple>



    <div class="form-group">
        <div class="col-sm-4"></div>
        <div class="col-sm-8">
            <input class="btn btn-success" type="submit" ng-click="registerUser(user)" ng-disabled="updating" value="Register User" />
        </div>
    </div>

</form>

<div class="alert alert-success" role="alert" ng-show="postingState == 1"> User Registered! You can't log in with it yet, though, sorry.</div>

<div class="alert alert-danger" role="alert" ng-show="postingState == 2"> Error! Are you logged out from WP-Admin?</div>

<div class="well">
    <p>UserData model <strong>LiveView</strong> (for debugging only):</p>
    {{ userData }}
</div>